body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#endTestButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}